<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kontel.Relkon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Relkon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kontel.Relkon.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>968, 628</value>
            </setting>
            <setting name="FormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SolutionExplorerIsOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolutionExplorerCollapsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolutionExplorerFloatingSize" serializeAs="String">
                <value>250, 400</value>
            </setting>
            <setting name="SolutionExplorerPopupSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SolutionExplorerStaticSize" serializeAs="String">
                <value>250, 400</value>
            </setting>
            <setting name="MainToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="MainToolStriplLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="PultToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="PultToolStripLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="SelectedProcessorIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorsListDescriptionColumnWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ErrorsListFileColumnWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ErrorsListLastModifySizeColumnIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ErrorsListLineColumnWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LastOpenedSolutionDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
            <setting name="MainToolStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PultToolStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultEditorFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
            <setting name="DispatcheringToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="DispatcheringToolStripLocation" serializeAs="String">
                <value>3, 99</value>
            </setting>
            <setting name="ArchiveToolStripLocation" serializeAs="String">
                <value>3, 124</value>
            </setting>
            <setting name="DeBugger_Settings_ComPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="DeBugger_Settings_BaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="DeBugger_SettingsProcessesorType" serializeAs="String">
                <value>MB90F347</value>
            </setting>
            <setting name="DeBugger_Settings_Protocol" serializeAs="String">
                <value>RC51ASCII</value>
            </setting>
            <setting name="DeBugger_Settings_NumberLink" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DebuggerParametersListCollapsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModulesCOMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ModulesFormHeight" serializeAs="String">
                <value>376</value>
            </setting>
            <setting name="ModulesFormSplitterDistance" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="SearchString" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReplaceString" serializeAs="String">
                <value/>
            </setting>
            <setting name="DebuggerToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="DebuggerToolStripLocation" serializeAs="String">
                <value>3, 74</value>
            </setting>
            <setting name="DebuggerToolStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggerHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebuggerParametersListSize" serializeAs="String">
                <value>251, 661</value>
            </setting>
            <setting name="DebuggerParametersListPopupSize" serializeAs="String">
                <value>251</value>
            </setting>
            <setting name="DebuggerParametersListStaticSize" serializeAs="String">
                <value>251, 661</value>
            </setting>
        </Kontel.Relkon.Properties.Settings>
        <Relkon.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>968, 628</value>
            </setting>
            <setting name="FormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SolutionExplorerIsOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolutionExplorerCollapsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolutionExplorerFloatingSize" serializeAs="String">
                <value>250, 400</value>
            </setting>
            <setting name="SolutionExplorerPopupSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SolutionExplorerStaticSize" serializeAs="String">
                <value>250, 400</value>
            </setting>
            <setting name="MainToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="MainToolStriplLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="PultToolStripPanel" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="PultToolStripLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
        </Relkon.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Kontel.Components" publicKeyToken="79BDDD0D8BC8FB9E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.7.2883.19126" newVersion="1.7.2883.19126"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Kontel.Classes" publicKeyToken="79BDDD0D8BC8FB9E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2825.17257" newVersion="1.5.2825.17257"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Kontel.Classes" publicKeyToken="93CB92E9BF6CDA8E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.9.3302.20442" newVersion="1.9.3302.20442"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Kontel.Components" publicKeyToken="93CB92E9BF6CDA8E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.9.3302.20442" newVersion="1.9.3302.20442"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
